html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family:"Onest", sans-serif;
    background-color: #dfe5f1; 
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgba(65, 99, 68, 0.8); 
    padding: 10px 20px;
    margin: 10px 20px; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: fixed; 
    top: 10px; 
    left: 0px; 
    right: 0px; 
    z-index: 1000; 
    height: 50px;
}

.navbar i{
    display: none;
}

.container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 600px;
    
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    width: 70px; 
    height: 40px; 
    border-radius: 30px; 
    margin-right: 10px; 
}

.brand h3 {
    margin: 0;
    font-size: 24px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

.list li {
    margin: 0 15px; 
}

.list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.list a:hover {
    text-decoration: none;
    color: rgb(16, 204, 9);
    font-size: larger;
}

.landing-page {
    position: relative;
    padding: 10px 20px;
    margin: 10px 20px; 
    border-radius: 10px; 
    height: 100vh; 
    background-image: url('./landing-page.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

.welcome-text {
    color: aliceblue;
    justify-content: center;
    text-align: center;
    padding-top: 250px;
    
}

.welcome-text h1 {
    font-size: 70px;
    margin: 0; 
}

.welcome-text h2 {
    font-size: 30px; 
}

.join-button {
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: transparent; 
    border: 2px solid white; 
    color: white; 
    border-radius: 25px; 
    cursor: pointer; 
    text-align: center; 
    display: inline-block; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-weight: bold;
}

.join-button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color:rgb(48, 70, 71); 
}

.mission {
    padding: 50px 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color:#e5ebdf;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2.0s ease, transform 2.0s ease;
}

.mission.active {
    opacity: 1;
    transform: translateY(0);
}

.mission-content {
    padding: 20px 20px; 
    background-color: #edefeb;
}

.mission img {
    width: 100%;
    border-radius: 15px;
    max-height: 100vh;
}


.content{
    padding: 0; 
    background-color:white;
    border-radius: 15px;
}

.mission-text{
    justify-content: center;
    text-align: left;
    padding-top: 20px;
    margin-left: 30px;
}

.mission-content h1{
    font-weight: 700;
    font-size: 70px;
    margin: 0;
  
    font-optical-sizing: auto;
    font-style: normal;
}
.faq-header{
    align-self: center;
    text-align: center;
    
}

.mission-content p{
    font-size: 25px; 
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}


.faq-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.faq-section.active {
    opacity: 1;
    transform: translateY(0);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-content {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.faq-content:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.question {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-radius: 20px 20px 0 0;
}

.answer {
    padding: 0 20px;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .answer {
    padding: 20px;
    max-height: 200px; 
}

.gallery{
    text-align: center;
}
/* gallery */

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    height: 70vh;
    width: 100%;
    gap: 50px;
}

.slide {
    justify-content: center;
    align-items: center;
    transition: transform 1.5s ease;
    display: flex; 
}

.slide img {
    width:80vw;
    border-radius: 20px;
    height: 60vh;
    justify-content: space-between;
}



@media screen and (min-width: 768px) {
    .slideshow-container {
        display: flex;
    }

    .slide {
        flex: 0 0 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide img {
        width: auto;
        opacity: 1; 
    }
}


@media screen and (max-width: 830px) {
    .body{
        overflow: hidden;
    }

    .slide img {
        width: 90vw;
        opacity: 1; 
        height: 50vh;
    }
    .navbar i{
        display: flex;
        margin-right: 50px;
        cursor: pointer;
        margin-left: 100px;
    }

    .slideshow-container {
        gap: 10px;
    }

    .navbar {
        padding: 5px 5px;
        margin: auto;
        
    }
    .container {
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: space-between;
        
        
    }

    .navbar__logo {
        margin-left: 5px;
        margin-top: 5px;
    }

    .brand h3 {
        font-size: 20px;
    }

    .list {
        flex-direction: column; 
        align-items: center; 
        display: none;
    }

    .list li {
        margin: 5px 0;
    }

    .list a {
        font-size: 16px;
    }

    .landing-page {
        padding: 10px 10px;
        margin: 5px 10px;
        height: 100vh; 
        background-position: top center; 
    }

    .welcome-text {
        padding-top: 100px; 
    }
    .welcome-text h1 {
        font-size: 60px;
    }

    .welcome-text h2 {
        font-size: 25px;
    }

    .mission {
        padding: 30px 20px;
        margin: 10px 5px; 
    }

    .mission-content {
        padding: 15px 15px;
    }

    .mission-content h1 {
        font-size: 50px;
    }

    .mission-content p {
        font-size: 20px;
    }

    .faq-section {
        margin: 30px 5px; 
        padding: 15px;
    }

    .faq-section h1 {
        font-size: 30px;
        
    }

    .faq-content {
        padding: 15px;
    }

    .faq-item .question {
        font-size: 18px;
    }

    .faq-item .answer {
        font-size: 16px;
    }
}


@media (device-width: 430px) and (device-height: 932px){
    .navbar i{
        margin-left: 150px;
    }
}
/* Surface Duo in portrait orientation */
@media (device-width: 540px) and (device-height: 720px)  {
    .navbar i{
        margin-left: 250px;
    }
    .welcome-text h1{
        margin-top: 300px;
        font-size: 80px;
    }
    .welcome-text h2{
        font-size: 40px;
    }
}   
  
  /* iPad Air in portrait orientation */
  @media (device-width: 820px) and (device-height: 1180px)  {
    .navbar i{
        margin-left: 500px;
    }
    .welcome-text h1{
        margin-top: 300px;
        font-size: 80px;
    }
    .welcome-text h2{
        font-size: 40px;
    }
  }
  
  /* iPad Pro 12.9-inch in portrait orientation */
  @media (device-width: 1024px) and (device-height: 1366px)  {
    .container{
        gap: 300px;
    }
    .welcome-text h1{
        margin-top: 300px;
        font-size: 80px;
    }
    .welcome-text h2{
        font-size: 40px;
    }
  }
  
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar i{
        margin-left: 500px;
    }
    .welcome-text h1{
        margin-top: 200px;
        font-size: 80px;
    }
    .welcome-text h2{
        font-size: 40px;
    }
  }
  

/* initiative section */
.initiative-section {
    padding: 50px 0;
}

.initiative-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.initiative-image {
    max-width: 50%;
    border-radius: 10px;
    margin-right: 20px;
}

.initiative-text {
    max-width: 50%;
}

.initiative-text h2 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.initiative-text p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

    @media (max-width: 767px) {
        .initiative-content {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .initiative-image {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    
        .initiative-text {
            max-width: 100%;
        }
    }


/* news updates */
.news-title{
    align-items: center;
    text-align: center;
}
.news-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
.news-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 50px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
    border: #555;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  
  .news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .news-card .content {
    padding: 20px;
  }
  
  .news-card h2 {
    margin-top: 0;
    color: #070707;
  }
  
  .news-card .date {
    color: #080808;
    font-size: 15px;
  }
  
   .description {
    margin-top: 10px;
    color: #080808;
    font-size: 20px;
  }

  .read-more-btn{
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .dropdown-content {
    display: none;
    color: #080808;
    font-family: "Onest", sans-serif;
    margin-top: 1rem;
  }
  
   .dropdown-content .full-description {
    margin-top: 10px;
    font-size: 17px;
  }
  
  .news-card.expanded .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .news-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .news-card {
      width: 100%; 
      margin: 0 0 20px; 
    }
  }
 
  /* feedback */
  .feedback-head{
    text-align: center;
    padding-top: 50px;
  }
  .feedback-slideshow-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    
}

.feedback-slide {
    display: none;
}

.feedback-img {
    width: 500px;
    height: 600px;
    max-height: 300px; 
    vertical-align: middle;
    border-radius: 20px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fadeFeedback;
    -webkit-animation-duration: 1.5s;
    animation-name: fadeFeedback;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeFeedback {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fadeFeedback {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Next & previous buttons */
.feedback-prev, .feedback-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    background-color: #2e7d32;
}

.feedback-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.feedback-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.feedback-prev:hover, .feedback-next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Dots */
.feedback-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.feedback-active, .feedback-dot:hover {
    background-color: #717171;
}      

@media (max-width: 768px) {
    .feedback-text{
        max-width: 230px;
        font-size: 10px;
    }
    .feedback-img{
        height: 400px;
    }

}

/* stats */
.stats-text{
    text-align: center;
}

.stats-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #1e911a;
    text-align: center;
}

.stat {
    flex: 1;
    margin: 10px;
}

.stat-number {
    font-size: 2.5em;
    margin: 0;
}

.stat-label {
    font-size: 1.2em;
    margin: 0;
}

@media (max-width: 768px) {
    .stats-section {
        flex-direction: column;
    }
}

/* join us */
.join-us-section{
    padding: 100px;
}

.join-us-section h1 {
    margin-bottom: 20px;
    text-align: center;
}

.join-us-section form {
    display: flex;
    flex-direction: column;
}

.join-us-section input {
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border-radius: 30px;
    
}

.join-us-section textarea{
    padding: 60px;
    border-radius: 30px;
}

.join-us-section button {
    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #367536 ;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    width: 200px;
}

.join-us-section button:hover {
    background-color: #2b2a2a;
}

@media (max-width: 768px) {
    .join-us-section{
        padding: 0px;
    }
}

/* contact us  */

.contact-us-section {
    margin-top: 0px;
    max-width: 1800px;
    background-color: #367536; 
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.contact-us-section h2 {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-item i {
    font-size: 1.5em;
}

@media (min-width: 600px) {
   
    .contact-info {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 830px){
    .contact-us-section{
        margin-top: 20px;
    }
}

/* footer */




.footer-bottom {
    background-color: #386138; 
    padding: 10px 0;
    border-radius: 30px;
}

.footer-bottom p {
    margin: 0;
    font-size: 1em;
    text-align: center;
}